{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Trabajos 🥇⭐{% endblock title %}

{% block title_banner %}
{{trabajo.titulo}}
{% endblock title_banner %}


{% block content %}
<section class="portfolio_details_area p_120">
    <div class="container">
        <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-item active ">
                            <a class="venobox" href="{{trabajo.imagen1.url}}"><img
                                    class="d-block w-100 h-100 imagen-carrusel-trabajo mt-3"
                                    src="{{trabajo.imagen1.url}}" alt="{{trabajo.titulo}}" /></a>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-item active ">
                            <a class="venobox" href="{{trabajo.imagen2.url}}"><img
                                    class="d-block w-100 h-100 imagen-carrusel-trabajo mt-3"
                                    src="{{trabajo.imagen2.url}}" alt="{{trabajo.titulo}}" /></a>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4  col-lg-12 col-md-12 col-sm-12">
                    <div class="portfolio_right_text mt-3">
                        <h4><b>{{trabajo.titulo}}</b> </h4>
                        <p>{{trabajo.descripcion}}.</p>
                        <ul class="list">
                            <li><span>Calificación</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                            <li><span>Categoria</span>: {{trabajo.get_categoria_display}}
                            </li>
                            <li><span>Fecha</span>: {{trabajo.creacion}}</li>
                        </ul>
                        <h4 class="mt-5">¿ Necesitas Algo Similar ?</h4>
                        <a class="banner_btn"
                            href="https://api.whatsapp.com/send?phone=+57{{BUSINESS.wpp}}&amp;text=Hola!&nbsp;quisiera&nbsp;cotizar&nbsp;con&nbsp;ustedes">COTIZALO</a>
                    </div>
                </div>
            </div>
            <p>{{trabajo.contenido|safe}}</p>
        </div>
    </div>
</section>
{% endblock content %}