{% load static %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block icon %}
    <link rel="icon" href="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}">
    {% endblock icon %}

    <title>{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares 🥇⭐{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/antesydespues.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/lightbox/simpleLightbox.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/animate-css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
        integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- main css -->


    <!-- visor de fotos -->
    <link rel="stylesheet" href="{% static 'core/visor/venobox/venobox.css' %}" type="text/css" media="screen" />
    <!-- visor de fotos -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
    <meta name="description"
        content="Somos Expertos en Tapicería de Muebles, Restauración De Muebles Antiguos, Ebanistería, Tapizado, Retapizado de Muebles. Cali, Valle del Cauca 2023">
    <meta name="keywords"
        content="servicio de retapizado, tapizado de muebles, restauracion de muebles, ebanisteria, pintura de muebles, reparacion de muebles, sillones, camas, comedores, restauracion de sillas, cali, valle del cauca">
    <link rel="canonical" href="https://www.restauramoshogares.co/">
    
    <meta property="og:locale" content="es_CO">
    <meta property="og:type" content="website">
    {% block ogtitle %}
    <meta property="og:title" content="Tapicería y Restauración de Muebles | Restauramos Hogares 2023">
    {% endblock ogtitle %}
    <meta property="og:description"
        content="servicio de retapizado, ebanisteria, pintura, tapizado de muebles y sillones, lavanderia, reparacion de muebles, sillones, camas, comedores, sillas reclinomatic y mucho más, servicio de cotización en tu casa sin costo ni compromiso">
    <meta property="og:url" content="https://www.restauramoshogares.co/">
    <meta property="og:site_name" content="Tapiceria Restauramos Hogares - Cali, Valle del Cauca 2023">
    <meta property="og:image" content="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180784735-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-180784735-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 529351750 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-529351750"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-529351750');
    </script>

</head>

<body>

    <!-- Messenger Plugin de chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "102185204927524");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v13.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <a id="app-whatsapp" target="_blanck"
        href="https://api.whatsapp.com/send?phone=+57{{BUSINESS.wpp}}&amp;text=¡Hola!&nbsp;Buen&nbsp;día.&nbsp;Vengo&nbsp;de&nbsp;visitar&nbsp;su&nbsp;sitio&nbsp;web&nbsp;y&nbsp;me&nbsp;interesa&nbsp;realizar&nbsp;una&nbsp;cotizacíon.">
        <i class="fab fa-whatsapp"></i>
    </a>

    <!--================Header Menu Area =================-->
    {% block header %}
    <header class="header_area">
        <div class="main_menu" id="mainNav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'index' %}">
                        <img src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" height="60" alt="logo">
                        <img src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" height="60" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                            <li class="nav-item "><a class="nav-link" href="{% url 'lavanderia' %}">Lavanderia</a></li>
                            <li class="nav-item "><a class="nav-link" href="{% url 'about' %}">Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Servicios</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'trabajos' %}">Trabajos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'materiales' %}">Materiales</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">Tienda</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% endblock header %}
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    {% block banner %}
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner_content">
                            <img class="logo-banner animate__animated animate__fadeIn"
                                src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" alt="logo">
                            <p class="p-banner">RESTAURAMOS HOGARES</p>
                            <h1 style="font-size: 20px; filter: drop-shadow(2px 4px 6px black); margin-top:100px">
                                <b>Tapicería y Lavanderia Restauramos Hogares (Cali-Valle)</b>
                            </h1>
                            <p style="font-size: 20px; text-shadow: 0px 0px 20px black;">
                                Somos una empresa de tapicería y lavandería sustentable que utiliza todos los recursos
                                de un mueble poco útil para que se convierta en el centro de atracción de tu sala.
                                A través de los máximos estándares de calidad, con ayuda de tapiceros, ebanistas y
                                costureros profesionales, hacemos magia en sofás deteriorados o pasados de moda.
                                <br>
                            </p>
                            <a class="banner_btn" href="#cualidades">¡Conócenos más!</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="home_right_box">
                            <div class="home_item mensaje">
                                <a href="{% url 'lavanderia' %}">
                                    <img src="{% static 'core/img/icons/vaccum.png' %}" height="64px" alt="Lavanderia">
                                    <p class="oculta">Lavanderia</p>
                                </a>
                            </div>
                            <div class="home_item mensaje">
                                <a href="{% url 'trabajos' %}">
                                    <img src="{% static 'core/img/icons/ebanisteria.png' %}" alt="ebanisteria">
                                    <p class="oculta">Ebanisteria</p>
                                </a>
                            </div>
                            <div class="home_item mensaje">
                                <a href="{% url 'trabajos' %}">
                                    <img src="{% static 'core/img/icons/brocha.png' %}" alt="pintura">
                                    <p class="oculta">Pintura</p>
                                </a>
                            </div>
                            <div class="home_item mensaje">
                                <a href="{% url 'materiales' %}">
                                    <img src="{% static 'core/img/icons/tapiceria.png' %}" alt="tapiceria">
                                    <p class="oculta">Tapiceria</p>
                                </a>
                            </div>
                            <div class="home_item mensaje">
                                <a href="{% url 'trabajos' %}">
                                    <img src="{% static 'core/img/icons/reparacion.png' %}" alt="reparacion">
                                    <p class="oculta">Reparación</p>
                                </a>
                            </div>
                            <div class="home_item mensaje">
                                <a href="{% url 'trabajos' %}">
                                    <img src="{% static 'core/img/icons/sofa.png' %}" alt="fabricacion">
                                    <p class="oculta">Fabricación</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock banner %}
    <!--================End Home Banner Area =================-->

    <!--================Furniture Area =================-->
    {% block content %}
    <section class="furniture_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Tienes en casa una mina de oro... ¡Ese sofá antiguo es tu mayor tesoro! </h2>
                <p style="font-size: 20px;">Los muebles de las décadas pasadas se elaboraban con pino, roble, ciprés o
                    cedro... Entonces, no compres productos de gama baja: Aprovecha la estructura de tu mueble viejo y
                    moderniza su exterior con REHO. ¡Mira lo que hacemos por ti!</p>
            </div>
            <div class="furniture_inner row">


                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div id="comparison" class="antesydespues">
                        <figure class="figure" style=" background-image:url({% static 'core/img/antes.jpg' %});">
                            <div id="handle">
                            </div>

                            <div id="divisor" class="antes"
                                style="background-image: url({% static 'core/img/despues.jpg' %});">
                            </div>
                        </figure>
                        <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()" />

                    </div>
                    <script type="text/javascript">
                        //<![CDATA[
                        var divisor = document.getElementById("divisor"),
                            handle = document.getElementById("handle"),
                            slider = document.getElementById("slider");

                        function moveDivisor() {
                            handle.style.left = slider.value + "%";
                            divisor.style.width = slider.value + "%";
                        }

                        window.onload = function () {
                            moveDivisor();
                        };
                        //]]>
                    </script>
                    <script type="text/javascript">
                        //<![CDATA[
                        // JS BEFORE & AFTER SLIDE Nº1
                        jQuery.noConflict(), jQuery(document).ready(function () {
                            var a = jQuery(".img_before"),
                                b = jQuery(".img_before img").width(),
                                c = Math.round(b / 2);
                            a.width(c), jQuery(".before_after_slider").mousemove(function (b) {
                                var c = b.offsetX || b.clientX - jQueryimg_after.offset().left;
                                a.width(c)
                            }), jQuery(".before_after_slider").mouseleave(function (b) {
                                a.stop().animate({
                                    width: c
                                }, 1e3)
                            })
                        });
                        //]]>
                    </script>
                </div>
                {% for trabajo in lista_trabajos %}
                <div class="col-lg-3 col-md-6 mt-5">
                    <a href="{% url 'detalletrabajo' trabajo.slug  %}">
                        <div class="furniture_item">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" style="height: 200px;">
                                    {% if trabajo.imagen1 %}

                                    <div class="carousel-item active ">
                                        <img src="{{trabajo.imagen1.url}}" class="d-block w-100 imagen-carrusel-trabajo"
                                            alt="...">
                                    </div>
                                    {% endif %} {% if trabajo.imagen2 %}
                                    <div class="carousel-item ">
                                        <img src="{{trabajo.imagen2.url}}" class="d-block w-100 imagen-carrusel-trabajo"
                                            alt="...">
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <h4>{{ trabajo.titulo }}</h4>
                            <p style="color: #777777;">{{ trabajo.descripcion }}
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="col-lg-6">
                    <div class="main_title">
                        <a class="banner_btn" href="{% url 'trabajos' %}">VER MAS TRABAJOS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Furniture Area =================-->

    <!--================Impress Area =================-->
    <section class="impress_area p_120">
        <div class="container">
            <div class="impress_inner text-center">
                <h2 style="text-shadow: 0px 0px 20px black;">
                    Perdemos 48.000 hectáreas anuales en Colombia por la deforestación. REHO contribuye a que no se
                    talen 8 a 10 árboles semanales... <br> ¡Participa en estas restauraciones con propósito!</h2>
                <a class="main_btn"
                    href="https://api.whatsapp.com/send?phone=+57{{BUSINESS.wpp}}&amp;text=¡Hola!&nbsp;Buen&nbsp;día.&nbsp;Vengo&nbsp;de&nbsp;visitar&nbsp;su&nbsp;sitio&nbsp;web&nbsp;y&nbsp;me&nbsp;interesa&nbsp;realizar&nbsp;una&nbsp;cotizacíon.">Cotizar</a>
            </div>
        </div>
    </section>
    <!--================End Impress Area =================-->

    <!--================Clients Logo Area =================-->

    <section class="clients_logo_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Testimonios de nuestros clientes</h2>
                <p style="font-size: 20px;">El propósito con el que trabajamos se reduce a amor, pasión y calidad. Nos
                    sentimos orgullosos de tener clientes felices pertenecientes a la familia REHO, y hoy queremos
                    compartir
                    algunos de ellos con ustedes. Puedes ver más reseñas en nuestra <a
                        href="https://www.google.com/search?q=restauramos+hogares&rlz=1C1VDKB_esCO929CO929&oq=res&aqs=chrome.1.69i60j69i59j69i57j69i60l3j69i65l2.4491j0j7&sourceid=chrome&ie=UTF-8#lrd=0x8e30a75bd5f9484b:0x54d5cd7316b9dd58,1,,,">Ficha
                        de Google</a></p>
            </div>
        </div>
        <div class="container">
            <div class="clients_slider owl-carousel">
                <div class="item">
                    <img src="{% static 'core/img/reseñas/7.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/18.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/16.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/15.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/12.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/5.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/17.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/13.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/1.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/14.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--================End Clients Logo Area =================-->


    <!--================Projects Area =================-->
    <section class="projects_area">
        <div class="row m0">
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/services-img/tapiceria.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Tapicería</h4>
                    <p>Conservamos los detalles característicos de sus muebles o los adaptamos a nuevos espacios y
                        necesidades.
                    </p>
                </div>
            </div>
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/services-img/ebanisteria.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Ebanistería</h4>
                    <p>Los muebles de madera crean ambientes acogedores y su elegancia combina con todos los tipos de
                        decoración. La carpintería es un arte, del mismo modo que todos los trabajos, y la ebanistería
                        es la máxima expresión del arte de la carpintería.</p>
                </div>
            </div>
            <div class="projects_item wd_44 contenedor">
                <img src="{% static 'core/img/services-img/restauracion.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Restauración</h4>
                    <p>El servicio de retapizado es más que simplemente arreglar un mueble tapizado, es una restauración
                        completa que incluye el cambio de tapiz, espumas y rellenos, sistema de suspensión ,reparación
                        de zona dañada de la estructura (si así
                        lo requiere).</p>
                </div>
            </div>
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/services-img/pintura.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Pintura</h4>
                    <p>Con un simple "pintado y encerado" un mueble puede gozar de un cambio espectacular. Dependiendo
                        del estado de la pieza, no hará falta más. Lo más importante es escoger la pintura y color
                        adecuado en cada caso.</p>
                </div>
            </div>
        </div>
    </section>
    <!--================End Projects Area =================-->

    <!--================Feature Area =================-->
    <section id="cualidades" class="feature_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Cualidades Que Nos Hacen Únicos</h2>
                <p style="font-size: 20px;">Modificamos el color de tu sofá, el tipo de tela, piezas rotas, el acabado y
                    la calidad del producto,
                    mientras entre todos hacemos parte del cambio ambiental. Pero eso no lo es todo:</p>
            </div>
            <div class="row feature_inner">
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item" style="height: 90%;">
                        <h4><i class="lnr lnr-user"></i>Trabajo hecho a mano</h4>
                        <p>Con más de 20 colaboradores, REHO reconoce la importancia de la mano humana en la
                            restauración de muebles.
                            Contamos con procesos totalmente artesanales y trabajadores expertos para conseguir
                            resultados mejores que los que sueñas.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item" style="height: 90%;">
                        <h4><i class="lnr lnr-license"></i>Accesibilidad</h4>
                        <p>Manejamos presupuestos diferentes para que la calidad no sacrifique tu cuenta de banco.
                            Conversa con nuestro equipo sobre los detalles de tu mueble y déjate sorprender con costos
                            adaptados a tu medida.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item" style="height: 90%;">
                        <h4><i class="lnr lnr-phone"></i>Asesoría personalizada</h4>
                        <p>Nuestro equipo de asesores conocen sobre muebles, materiales y los procesos para restaurarlos
                            tanto como cualquier profesional en REHO. Conversa con ellos y comparte todas tus
                            inquietudes para que recibas soluciones a la medida.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item" style="height: 90%;">
                        <h4><i class="lnr lnr-rocket"></i>Puntualidad </h4>
                        <p>Recogemos y entregamos los muebles en la puerta de tu casa, con máxima puntualidad en la
                            fecha acordadas.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item" style="height: 90%;">
                        <h4><i class="lnr lnr-diamond"></i>Compromiso</h4>
                        <p>No vendemos muebles, transformamos objetos poco satisfactorios a otros que cumplan tus
                            expectativas. Para lograrlo, te ofrecemos variedad de colores en telas de tapicería y
                            servicios que van desde la ebanistería, pintura, tapizado, hasta reparaciones y la
                            restauración total.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item" style="height: 90%;">
                        <h4><i class="lnr lnr-leaf"></i>Ecologismo</h4>
                        <p>Mejoramos muebles ya existentes con materiales hechos de recursos renovables, evitando que
                            adquieras unos nuevos que implique más contaminación.
                            Hacemos todas las transformaciones necesarias hasta que se te olvide que varias generaciones
                            ya han hecho vida en esos espacios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Feature Area =================-->




    <!--================Our Blog Area =================-->
    <section class="our_blog_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>PUBLICACIONES RECIENTES DE NUESTRO BLOG</h2>
            </div>
            <div class="blog_inner row">
                {% for post in lista_posts|slice:":3" %}
                <div class="col-lg-4">
                    <div class="o_blog_item">
                        <div class="blog_img contenedor">
                            <img class="img-fluid imagen-trabajo" src="{{post.imagen.url}}" alt="">
                        </div>

                        <div class="blog_text">
                            <div class="blog_cat">
                                <a href="{% url 'detallepost' post.slug %}">Leer Mas</a>
                            </div>
                            <a href="{% url 'detallepost' post.slug %}">
                                <h4>{{post.titulo}}</h4>
                            </a>
                            <p>{{post.descripcion}}
                            </p>
                            <a class="date" href="#">{{post.creacion}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--================End Our Blog Area =================-->

    {% endblock content %}
    <!--================End Clients Logo Area =================-->

    <!--================Footer Area =================-->
    {% block footer %}
    <footer class="footer_area p_40">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <img src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" class="mb-3" height="130"
                                style="filter: drop-shadow(2px 1px 3px black);" alt="logo">
                            <h3>Tapicería y Restauración de Muebles</h3>
                        </div>
                        Copyright &copy;2023 Todos los derechos reservados | Restauramos Hogares
                        </p>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>Suscribete</h3>
                        </div>
                        <p>Suscribete a nuestra lista de correos</p>
                        <div id="mc_embed_signup">
                            <form method="post" id="contactForm" class="subscribe_form relative">
                                {% csrf_token %}
                                <div class="input-group d-flex flex-row">
                                    {{formulario.email}}
                                    <button type="submit" class="btn sub-btn"><span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-4">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Siguenos</h3>
                        </div>
                        <p>Nuestras redes sociales</p>
                        <ul class="list" style="color: white;">
                            {% if LINK_FACEBOOK %}
                            <li>
                                <a href="{{LINK_FACEBOOK}}"> <i class="fab fa-facebook-square fa-3x"></i></a>
                            </li>

                            {% endif %} {% if LINK_TWITTER %}
                            <li>
                                <a href="{{LINK_TWITTER}}"> <i class="fab fa-twitter fa-3x"></i></a>
                            </li>

                            {% endif %} {% if LINK_INSTAGRAM %}
                            <li><a href="{{LINK_INSTAGRAM}}"><i class="fab fa-instagram fa-3x"></i></a></li>

                            {% endif %} {% if LINK_YOUTUBE %}
                            <li>
                                <a href="{{LINK_YOUTUBE}}"> <i class="fab fa-youtube fa-3x"></i> </i>
                                </a>
                            </li>

                            {% endif %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
    <!--================End Footer Area =================-->

    <div class="modal fade" id="popup"></div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/stellar.js' %}"></script>
    <script src="{% static 'core/vendors/lightbox/simpleLightbox.min.js' %}"></script>
    <script src="{% static 'core/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'core/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'core/vendors/isotope/isotope-min.js' %}"></script>
    <script src="{% static 'core/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'core/vendors/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'core/js/theme.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'core/visor/venobox/venobox.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- Event snippet for Website traffic conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-529351750/WnlfCOX08-8BEMaItfwB'
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.venobox').venobox();
        });
    </script>


    {% block control_modal %}
    <script>
        function abrir_modal(url) {
            $("#popup").load(url, function () {
                $(this).modal({
                    backdrop: 'static',
                    keyboard: false
                })
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').on('hidden.bs.modal', function () {
                $(this).find('form').trigger('reset');
            })
            $('#popup').modal('hide');
            return false;
        }

        function mensaje(msg, tags) {
            if (tags == 'success') {
                swal({
                    text: msg,
                    icon: tags,
                    buttons: false,
                    timer: 2000,
                });
            } else {
                swal({
                    text: msg,
                    icon: tags,
                    buttons: false,
                    timer: 5000,
                });
            }
        }

        { %
            if messages %
        } { %
            for message in messages %
        }
        mensaje("{{ message }}", "{{ message.tags }}"); { % endfor %
        } { % endif %
        }
    </script>
    {% endblock control_modal %} {% block js %}{% endblock js %}

</body>

</html>