{% load static %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block icon %}
    <link rel="icon" href="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}">
    {% endblock icon %}

    <title>{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares 🥇⭐{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/antesydespues.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/lightbox/simpleLightbox.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/animate-css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
        integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- main css -->


    <!-- visor de fotos -->
    <link rel="stylesheet" href="{% static 'core/visor/venobox/venobox.css' %}" type="text/css" media="screen" />
    <!-- visor de fotos -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
    <meta name="description"
        content="Somos Expertos en Tapicería de Muebles, Restauración De Muebles Antiguos, Ebanistería, Tapizado, Retapizado de Muebles. Cali, Valle del Cauca 2022">
    <meta name="keywords"
        content="servicio de retapizado, tapizado de muebles, restauracion de muebles, lavanderia, ebanisteria, pintura de muebles, reparacion de muebles, sillones, camas, comedores, restauracion de sillas, cali, valle del cauca">
    <link rel="canonical" href="https://www.restauramoshogares.co/lavanderia">
    <meta property="og:locale" content="es_CO">
    <meta property="og:type" content="website">
    {% block ogtitle %}
    <meta property="og:title" content="Tapicería y Restauración de Muebles | Restauramos Hogares 2022">
    {% endblock ogtitle %}
    <meta property="og:description"
        content="servicio de retapizado, ebanisteria, pintura, tapizado de muebles y sillones, lavanderia, lavado, reparacion de muebles, sillones, camas, comedores, sillas reclinomatic y mucho más, servicio de cotización en tu casa sin costo ni compromiso">
    <meta property="og:url" content="https://www.restauramoshogares.co/lavanderia">
    <meta property="og:site_name" content="Tapiceria Restauramos Hogares - Cali, Valle del Cauca 2022">
    <meta property="og:image" content="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}">


</head>

<body>

    <!-- Messenger Plugin de chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "102185204927524");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v13.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <a id="app-whatsapp" target="_blanck"
        href="https://api.whatsapp.com/send?phone=+57{{BUSINESS.wpp}}&amp;text=Hola!&nbsp;quisiera&nbsp;cotizar&nbsp;con&nbsp;ustedes">
        <i class="fab fa-whatsapp"></i>
    </a>

    <!--================Header Menu Area =================-->
    {% block header %}
    <header class="header_area">
        <div class="main_menu" id="mainNav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'index' %}">
                        <img src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" height="60" alt="logo">
                        <img src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" height="60" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                            <li class="nav-item "><a class="nav-link" href="{% url 'lavanderia' %}">Lavanderia</a></li>
                            <li class="nav-item "><a class="nav-link" href="{% url 'about' %}">Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Servicios</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'trabajos' %}">Trabajos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'materiales' %}">Materiales</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">Tienda</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% endblock header %}
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    {% block banner %}
    <section class="home_banner_area"
        style="background: url(../../static/core/img/banner/lavanderia.jpg) no-repeat scroll center center; background-size: cover; background-attachment: fixed;">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner_content">
                            <img class="logo-banner animate__animated animate__fadeIn"
                                src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" alt="logo">
                            <p class="p-banner">LAVANDERIA</p>
                            <h1 style="font-size: 20px; filter: drop-shadow(2px 4px 6px black); margin-top:100px">
                                <b>Tapicería y Lavanderia Restauramos Hogares (Cali-Valle)</b>
                            </h1>
                            <p style="font-size: 20px;">
                                Somos una empresa de tapicería y lavandería sustentable que utiliza todos los recursos
                                de un mueble poco útil para que se convierta en el centro de atracción de tu sala.
                                A través de los máximos estándares de calidad, con ayuda de tapiceros, ebanistas y
                                costureros profesionales, hacemos magia en sofás deteriorados o pasados de moda.
                                <br>
                            </p>
                            <a class="banner_btn" href="#cualidades">¡Conócenos más!</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="home_right_box">
                            <div class="home_item mensaje">
                                <img src="{% static 'core/img/icons/plancha-de-vapor.png' %}" height="70px"
                                    alt="restauracion total">
                                <p class="oculta">Vapor</p>
                            </div>
                            <div class="home_item mensaje">
                                <img src="{% static 'core/img/icons/cepillar.png' %}" height="70px" alt="ebanisteria">
                                <p class="oculta">Cepillo electrico</p>
                            </div>
                            <div class="home_item mensaje">
                                <img src="{% static 'core/img/icons/espuma.png' %}" height="70px" alt="pintura">
                                <p class="oculta">Espumera</p>
                            </div>
                            <div class="home_item mensaje">
                                <img src="{% static 'core/img/icons/aspiradora.png' %}" height="70px" alt="tapiceria">
                                <p class="oculta">Secador</p>
                            </div>
                            <div class="home_item mensaje">
                                <img src="{% static 'core/img/icons/inyeccion.png' %}" height="70px" alt="reparacion">
                                <p class="oculta">Inyeccion</p>
                            </div>
                            <div class="home_item mensaje">
                                <img src="{% static 'core/img/icons/sofa.png' %}" height="70px" alt="fabricacion">
                                <p class="oculta">Resultados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock banner %}
    <!--================End Home Banner Area =================-->

    <!--================Furniture Area =================-->
    {% block content %}

    <section id="cualidades"  class="feature_area p_120">
        <div class="container">
            <div class="row feature_inner">
                <div class="main_title">
                    <h2>el mejor cuidado para tus muebles</h2>
                    <p style="font-size: 20px;">En Restauramos Hogares contamos con la magia que hara que sus muebles
                        tomen
                        vida nueva, el mejor lavado y limpieza profunda para tus muebles lo encuentras con nosotros.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <h4><i class="lnr lnr-checkmark-circle"></i>Vapor</h4>
                        <p>Lavado más profundo con vapor, el vapor llega hasta el interior del mueble o colchón, para
                            desinfección y eliminación de bichos como ácaros y eliminar olores
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <h4><i class="lnr lnr-checkmark-circle"></i>Inyección</h4>
                        <p>Esta máquina inyecta agua al mueble para juagar y retirar productos aplicados al colchón o
                            mueble, además da un mejor acabado.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <h4><i class="lnr lnr-checkmark-circle"></i>Cepillo eléctrico</h4>
                        <p>Utilizamos cepillo eléctrico de doble cabeza con cerdas especiales para tela textil, estos
                            tienen 6 velocidades para aplicar según sea más conveniente.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <h4><i class="lnr lnr-checkmark-circle"></i>Espumera </h4>
                        <p>Lavamos con espuma, para reducir el gasto de agua, además de no aplicar agua directa al
                            colchón o mueble, ya que esto puede dañar el colchón o el mueble
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <h4><i class="lnr lnr-checkmark-circle"></i>Secadores</h4>
                        <p>Dejamos seco el colchón o el mueble, evitando olores de humedad o posibles manchas o mapas
                            que deja el secado al ambiente.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <h4><i class="lnr lnr-checkmark-circle"></i>Resultados de Calidad</h4>
                        <p>La calidad del resultado de nuestros trabajos es excepcional, te garantizamos una
                            satisfacción total en tus muebles, cochones y alfombras.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="projects_area">
        <div class="row m0">
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/lavanderia2.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Lavado de Muebles y Sofás</h4>
                    <p>Servicio especializado de Lavado de muebles, poltronas y sofás, prestamos nuestros servicios a
                        domicilio sin costo adicional en Cali.
                    </p>
                </div>
            </div>
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/lavanderia1.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Limpieza y Lavado de Colchones</h4>
                    <p>Lavado de colchones a domicilio, incluye desodorizado, lavado en seco, lavado manual y con
                        maquinas, aspirado, colchones secos en pocas horas..</p>
                </div>
            </div>
            <div class="projects_item wd_44 contenedor">
                <img src="{% static 'core/img/lavanderia4.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Servicio de calidad</h4>
                    <p>A través de estos procesos especializados obtendremos un optimo lavado de muebles, una limpieza
                        realmente profunda y un desodorizado inigualable. Logramos ofrecer un servicio de calidad
                        expresado desde las técnicas empleadas y la experiencia de nuestro personal.</p>
                </div>
            </div>
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/lavanderia3.jpg' %}" alt="" class="imagen">
                <div class="hover">
                    <h4>Lavado de Alfombras y Tapetes</h4>
                    <p>Lavado especializado de alfombras y tapetes, recogemos a domicilio en Cali sin costo
                        adicional, limpieza profunda, excelentes resultados.</p>
                </div>
            </div>
        </div>
    </section>
    <!--================End Furniture Area =================-->



    <!--================Clients Logo Area =================-->
    <section class="clients_logo_area p_120">
        <div class="main_title">
            <h2>Testimonios de nuestros clientes</h2>
            <p>Todo lo hacemos muy bien, desde el corazón y con pasión. Algunos de nuestros clientes lo confirman.
                Puedes ver mas reseñas en nuestra <a
                    href="https://www.google.com/search?q=restauramos+hogares&rlz=1C1VDKB_esCO929CO929&oq=res&aqs=chrome.1.69i60j69i59j69i57j69i60l3j69i65l2.4491j0j7&sourceid=chrome&ie=UTF-8#lrd=0x8e30a75bd5f9484b:0x54d5cd7316b9dd58,1,,,">Ficha
                    de Google</a></p>
        </div>
        <div class="container">
            <div class="clients_slider owl-carousel">
                <div class="item">
                    <img src="{% static 'core/img/reseñas/7.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/18.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/16.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/15.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/12.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/5.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/17.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/13.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/1.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img src="{% static 'core/img/reseñas/14.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--================End Clients Logo Area =================-->

    <section class="projects_area mb-5">
        <div class="row m0">
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/lavanderia7.jpg' %}" alt="" class="imagen">
            </div>
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/lavanderia6.jpg' %}" alt="" class="imagen">
            </div>
            <div class="projects_item wd_44 contenedor">
                <img src="{% static 'core/img/lavanderia5.jpg' %}" alt="" class="imagen">
            </div>
            <div class="projects_item wd_18 contenedor">
                <img src="{% static 'core/img/lavanderia8.jpg' %}" alt="" class="imagen">
            </div>
        </div>
    </section>





    {% endblock content %}
    <!--================End Clients Logo Area =================-->

    <!--================Footer Area =================-->
    {% block footer %}
    <footer class="footer_area p_40">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <img src="{% if BUSINESS.logo %}{{BUSINESS.logo.url}}{% endif %}" class="mb-3" height="130"
                                style="filter: drop-shadow(2px 1px 3px black);" alt="logo">
                            <h3>Tapicería y Restauración de Muebles</h3>
                        </div>
                        Copyright &copy;2022 Todos los derechos reservados | Restauramos Hogares
                        </p>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>Suscribete</h3>
                        </div>
                        <p>Suscribete a nuestra lista de correos</p>
                        <div id="mc_embed_signup">
                            <form method="post" id="contactForm" class="subscribe_form relative">
                                {% csrf_token %}
                                <div class="input-group d-flex flex-row">
                                    {{formulario.email}}
                                    <button type="submit" class="btn sub-btn"><span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-4">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Siguenos</h3>
                        </div>
                        <p>Nuestras redes sociales</p>
                        <ul class="list" style="color: white;">
                            {% if LINK_FACEBOOK %}
                            <li>
                                <a href="{{LINK_FACEBOOK}}"> <i class="fab fa-facebook-square fa-3x"></i></a>
                            </li>

                            {% endif %} {% if LINK_TWITTER %}
                            <li>
                                <a href="{{LINK_TWITTER}}"> <i class="fab fa-twitter fa-3x"></i></a>
                            </li>

                            {% endif %} {% if LINK_INSTAGRAM %}
                            <li><a href="{{LINK_INSTAGRAM}}"><i class="fab fa-instagram fa-3x"></i></a></li>

                            {% endif %} {% if LINK_YOUTUBE %}
                            <li>
                                <a href="{{LINK_YOUTUBE}}"> <i class="fab fa-youtube fa-3x"></i> </i>
                                </a>
                            </li>

                            {% endif %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
    <!--================End Footer Area =================-->

    <div class="modal fade" id="popup"></div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/stellar.js' %}"></script>
    <script src="{% static 'core/vendors/lightbox/simpleLightbox.min.js' %}"></script>
    <script src="{% static 'core/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'core/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'core/vendors/isotope/isotope-min.js' %}"></script>
    <script src="{% static 'core/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'core/vendors/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'core/js/theme.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'core/visor/venobox/venobox.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {
            $('.venobox').venobox();
        });
    </script>


    {% block control_modal %}
    <script>
        function abrir_modal(url) {
            $("#popup").load(url, function () {
                $(this).modal({
                    backdrop: 'static',
                    keyboard: false
                })
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').on('hidden.bs.modal', function () {
                $(this).find('form').trigger('reset');
            })
            $('#popup').modal('hide');
            return false;
        }

        function mensaje(msg, tags) {
            if (tags == 'success') {
                swal({
                    text: msg,
                    icon: tags,
                    buttons: false,
                    timer: 2000,
                });
            } else {
                swal({
                    text: msg,
                    icon: tags,
                    buttons: false,
                    timer: 5000,
                });
            }
        }

        { %
            if messages %
        } { %
            for message in messages %
        }
        mensaje("{{ message }}", "{{ message.tags }}"); { % endfor %
        } { % endif %
        }
    </script>
    {% endblock control_modal %} {% block js %}{% endblock js %}

</body>

</html>