{% extends 'core/about.html' %}
{% load static %}
{% load humanize %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Productos 🥇⭐{% endblock title %}

{% block title_banner %}Tienda{% endblock title_banner %}

<!--================About Area =================-->
{% block content %}
<section class="blog_area mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<h2 id="nuevos">Productos nacionales, hechos a mano, de exelente calidad</h2>
				</div>
				<div class="row">
					{% for producto in nuevos %}
					<div class="col-lg-3 col-md-4 mb-3">
						<div class="card ">
							<a href="{% url 'detalleproducto' producto.slug  %}"><img class="card-img-top"
									src="{{producto.imagen1.url}}" alt=""></a>
							<div class="card-body">
								<h4 class="card-title">
									<a href="{% url 'detalleproducto' producto.slug  %}">{{producto.titulo}}</a>
								</h4>
								<h5>$ {{producto.valor|intcomma}} COP</h5>
								<a href="https://api.whatsapp.com/send?phone=+57{{BUSINESS.wpp}}&amp;text=Hola!&nbsp;quisiera&nbsp;comprar&nbsp;el&nbsp;mueble&nbsp;'{{producto.titulo}}'&nbsp;que&nbsp;tienen&nbsp;en&nbsp;la&nbsp;tienda"
									class="btn btn-success btn-block text-white">Comprar <i
										class="fab fa-whatsapp"></i></a>
							</div>
							<div class="card-footer">
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					{% for producto in restaurados %}
					<div class="col-lg-3 col-md-4 mb-3">
						<div class="card ">
							<a href="{% url 'detalleproducto' producto.slug  %}"><img class="card-img-top"
									src="{{producto.imagen1.url}}" alt=""></a>
							<div class="card-body">
								<h4 class="card-title">
									<a href="{% url 'detalleproducto' producto.slug  %}">{{producto.titulo}}</a>
								</h4>
								<h5>$ {{producto.valor|intcomma}} COP</h5>
								<a href="https://api.whatsapp.com/send?phone=+57{{BUSINESS.wpp}}&amp;text=Hola!&nbsp;quisiera&nbsp;comprar&nbsp;el&nbsp;mueble&nbsp;'{{producto.titulo}}'&nbsp;que&nbsp;tienen&nbsp;en&nbsp;la&nbsp;tienda"
									class="btn btn-success btn-block text-white">Comprar <i
										class="fab fa-whatsapp"></i></a>
							</div>
							<div class="card-footer">
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
								<i class="fa fa-star" style="color : #facb48;"></i>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{%block sidebar%}

			{%endblock sidebar%}
		</div>
	</div>
</section>
{% endblock content %}