{% extends 'dash/base.html' %}
{% block titulo %} Restauramos Hogares | Login {% endblock titulo %}
{% block sidebar %}{% endblock sidebar %}
{% block top_bar %}{% endblock top_bar %}
{% block contenido %}{% endblock contenido %}
{% block login %}
<div class="container mt-5">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Ingrese los datos de la empresa
                    </div>
                    <div class="dropdown-divider"></div>

                    <form method="POST" class="user" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="form-group col-xl-6 col-lg-6">
                                <input type="text" class="form-control form-control-user" required name="nombre"
                                    id="id_nombre" placeholder="Nombre" value="{{business.nombre}}" maxlength="30">
                                <small class="text-danger"> {{ form.nombre.errors }}</small>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6">
                                <input type="text" class="form-control form-control-user" required name="lema"
                                    id="id_lema" placeholder="Lema" value="{{business.lema}}" maxlength="50">
                                <small class="text-danger"> {{ form.lema.errors }}</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="text" class="form-control form-control-user" required name="email"
                                    id="id_email" placeholder="Email" value="{{business.email}}" maxlength="40">
                                <small class="text-danger"> {{ form.email.errors }}</small>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="text" class="form-control form-control-user" required name="direccion"
                                    id="id_direccion" placeholder="Direccion" value="{{business.direccion}}"
                                    maxlength="20">
                                <small class="text-danger">{{ form.direccion.errors }}</small>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="text" class="form-control form-control-user" required name="telefonos"
                                    id="id_telefonos" placeholder="Telefonos" value="{{business.telefonos}}" maxlength="50">
                                <small class="text-danger">{{ form.telefonos.errors }}</small>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="text" class="form-control form-control-user" required name="wpp"
                                    id="id_wpp" placeholder="Whatsapp" value="{{business.wpp}}" maxlength="20">
                                <small class="text-danger">{{ form.wpp.errors }}</small>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="text" class="form-control form-control-user" required name="horarios"
                                    id="id_horarios" placeholder="Horarios" value="{{business.horarios}}" maxlength="100">
                                <small class="text-danger"> {{ form.horarios.errors }}</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-xl-6 col-lg-6">
                                Descripción
                                <textarea class="form-control" cols="40" id="descripcion" name="descripcion" rows="5"
                                    placeholder="Descripcion">
                                            {{business.descripcion}}
                                        </textarea>
                                <small class="text-danger"> {{ form.descripcion.errors }}</small>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6">
                                Mision
                                <textarea class="form-control" cols="40" id="mision" name="mision" rows="5"
                                    placeholder="Mision">
                                            {{business.mision}}
                                        </textarea>
                                <small class="text-danger"> {{ form.mision.errors }}</small>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6">
                                Vision
                                <textarea class="form-control" cols="40" id="id_vision" name="vision" rows="5"
                                    placeholder="Mision">
                                            {{business.vision}}
                                        </textarea>
                                <small class="text-danger"> {{ form.vision.errors }}</small>
                            </div>
                        </div>
                        <div class="row ">
                            Historia
                            <div class="form-group col-xl-12 col-lg-12">
                                {{form.historia}}
                            </div>
                            <small class=" text-danger"> {{ form.historia.errors }}</small>
                            <div class="form-group col-xl-6 col-lg-6 ">
                                Seleccione un logo:
                                <br>
                                {{form.logo}}
                                <small class="text-danger"> {{ form.logo.errors }}</small>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success">Crear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock login %}
{% block footer %}{% endblock footer %}