{% extends 'dash/base.html'%}
{% block titulo %} Academico | Error {% endblock titulo %}
{% block sidebar %}{% endblock sidebar %}
{% block top_bar %}{% endblock top_bar %}
{% block contenido %}
<div class="text-center">
  <div class="error mx-auto" data-text="404">404</div>
  <p class="lead text-gray-800 mb-5">No encontramos nada</p>
  <p class="text-gray-500 mb-0">Upss! Lo sentimos, La página a la que intentas acceder no existe o se ha movido..</p>
</div>
{% endblock contenido %}
{% block footer %}{% endblock footer %}