{% extends 'dash/base.html'%}
{% block titulo %} Restauramos Hogares | Error {% endblock titulo %}
{% block contenido %}
<div class="text-center">
  <div class="error mx-auto" data-text="403">403</div>
  <p class="lead text-gray-800 mb-5">Acceso Denegado</p>
  <p class="text-gray-500 mb-0">Upss! Lo sentimos {{request.user.first_name}}, al parecer no tiene los permisos
    nesesarios para
    procesar esta solicitud... </p>
  <a href="{% url 'home' %}">&larr; Regresar al inicio</a>
</div>
{% endblock contenido %}
{% block footer %}{% endblock footer %}