{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Asturias
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Asturias</h2>
            <p>¡Tus mascotas pueden vivir en armonía con tu hogar! Hemos seleccionado las telas más aptas, duraderas,
                fáciles de limpiar, resistentes y con estilo para el contacto con tu mascota.

                Ahora podrás mantener tus muebles en buen estado y brindar comodidad a toda tu familia.

                Este tejido cuenta con la tecnología onegard; la cual actúa como escudo protector para la tela,
                haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su limpieza y prolonga su vida
                útil..
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/acero.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/acero.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Acero</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Beige.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Beige.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Beige</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Camel.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Camel.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Camel</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Chocolate.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Chocolate.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Chocolate</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Gris.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Gris.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Gris</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Rosa.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Rosa.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Rosa</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Terra.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Terra.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Terra</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Vino.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Vino.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Vino</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Indigo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Indigo.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Indigo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Petroleo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Petroleo.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Petroleo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/asturias/Marfil.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/asturias/Marfil.jpg' %}" alt="tela asturias" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">asturias - Marfil</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}