{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Bizantino
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Bizantino</h2>
            <p>Este tejido cuenta con la tecnología OneGrad, la cual actúa como un escudo protector para la tela,
                haciéndola resistente al paso de líquidos, polvo y suciedad, facilitando su limpieza y prolongando su
                vida útil.
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/bizantino/1.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/bizantino/1.jpg' %}" alt="tela bizantino" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/bizantino/2.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/bizantino/2.jpg' %}" alt="tela bizantino" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/bizantino/3.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/bizantino/3.jpg' %}" alt="tela bizantino" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/bizantino/4.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/bizantino/4.jpg' %}" alt="tela bizantino" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/bizantino/5.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/bizantino/5.jpg' %}" alt="tela bizantino" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}