{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Dominio
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Dominio</h2>
            <p>Amigable con las mascotas, con tecnologia water proof que permite que la
                tela tenga resistencia a los liquidos y no los absorba de manera inmediata.
                Recubrimiento que otorga un mantenimiento y limpieza facil al textil.
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/dominio/1.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/dominio/1.jpg' %}" alt="tela dominio" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/dominio/2.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/dominio/2.jpg' %}" alt="tela dominio" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/dominio/3.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/dominio/3.jpg' %}" alt="tela dominio" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/dominio/4.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/dominio/4.jpg' %}" alt="tela dominio" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
</section>
{% endblock content %}