{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Durazno
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Durazno</h2>
            <p>¡Tus mascotas pueden vivir en armonía con tu hogar! Hemos seleccionado las telas más aptas, duraderas,
                fáciles de limpiar, resistentes y con estilo para el contacto con tu mascota.

                Ahora podrás mantener tus muebles en buen estado y brindar comodidad a toda tu familia.

                Este tejido cuenta con la tecnología onegard; la cual actúa como escudo protector para la tela,
                haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su limpieza y prolonga su vida
                útil..
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/ACERO.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/ACERO.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Acero</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/AMARILLO.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/AMARILLO.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Amarillo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/BEIGE.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/BEIGE.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Beige</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/CAMEL.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/CAMEL.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Camel</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/CHOCOLATE.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/CHOCOLATE.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Chocolate</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/GRIS.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/GRIS.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Gris</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/ROSA.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/ROSA.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Rosa</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/PLATA.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/PLATA.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Plata</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/TAUPE.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/TAUPE.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Taupe</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/TERRA.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/TERRA.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Terra</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/durazno/VINO.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/durazno/VINO.jpg' %}" alt="tela Durazno" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Durazno - Vino</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}