{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Marmol
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Marmol</h2>
            <p>¡Tus mascotas pueden vivir en armonía con tu hogar! Hemos seleccionado las telas más aptas, duraderas,
                fáciles de limpiar, resistentes y con estilo para el contacto con tu mascota.

                Ahora podrás mantener tus muebles en buen estado y brindar comodidad a toda tu familia.

                Este tejido cuenta con la tecnología onegard; la cual actúa como escudo protector para la tela,
                haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su limpieza y prolonga su vida
                útil..
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Acero.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Acero.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Acero</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Beige.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Beige.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Beige</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Camel.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Camel.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Camel</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Chocolate.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Chocolate.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Chocolate</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Gris.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Gris.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Gris</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Rosa.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Rosa.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Rosa</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Plata.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Plata.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Plata</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Taupe.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Taupe.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Taupe</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Terra.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Terra.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Terra</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Vino.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Vino.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Vino</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Petroleo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Petroleo.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Petroleo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Guayaba.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Guayaba.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Guayaba</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Inoigo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Inoigo.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Inoigo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Marmol/Marfil.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Marmol/Marfil.jpg' %}" alt="tela Marmol" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Marmol - Marfil</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}