{% extends 'core/about.html' %}
{% load static %}
{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales🥇⭐{% endblock title %}
{% block title_banner %}Materiales{% endblock title_banner %}

<!--================About Area =================-->
{% block content %}
<section class="about_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>Usamos materiales de alta calidad</h2>
			<p>En Restauramos Hogares empleamos materiales de excelente calidad, buscando elegancia y confort en nuestro
				resultados, sin olvidarnos del medio ambiente.</p>
		</div>
		<div class="row d-flex justify-content-between">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<a href="#telas">
					<div class="text-center icons-trabajo">
						<img src="{% static 'core/img/icons/tela.png' %}" alt="tela">
						<p style="font-size: 20px;"><b>Telas</b></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<a href="#pinturas">
					<div class="text-center icons-trabajo">
						<img src="{% static 'core/img/icons/barniz.png' %}" alt="pintura">
						<p style="font-size: 20px;"><b>Pinturas</b></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<a href="#maderas">
					<div class="text-center icons-trabajo">
						<img src="{% static 'core/img/icons/madera.png' %}" alt="maderas">
						<p style="font-size: 20px;"><b>Maderas</b></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="telas_area p_40" id="telas">
	<div class="container">
		<div class="impress_inner text-center">
			<h2 style="font-size: 50px;" ">Telas</h2>
		</div>
	</div>
</section>

<section class=" furniture_area p_120">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'asturias' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/asturias/rosa.jpg' %}" alt="">
											</div>
											<h4>Asturias</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Asturias</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'asturias' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'marmol' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/marmol/taupe.jpg' %}" alt="">
											</div>
											<h4>Marmol</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Marmol</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'marmol' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'palermo' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/palermo/petroleo.jpg' %}" alt="">
											</div>
											<h4>Palermo</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Palermo</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'palermo' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'natura' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/natura/petroleo.jpg' %}" alt="">
											</div>
											<h4>Natura</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Natura</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'natura' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'durazno' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/durazno/terra.jpg' %}" alt="">
											</div>
											<h4>Durazno</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Durazno</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'durazno' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'belgica' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/belgica/capuchino.jpg' %}" alt="">
											</div>
											<h4>Belgica</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Belgica</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'belgica' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'bruselas' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/bruselas/red.jpg' %}" alt="">
											</div>
											<h4>Bruselas</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Bruselas</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'bruselas' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'prana' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/prannas/24.jpg' %}" alt="">
											</div>
											<h4>Prana Sintético</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Prana Sintético</b> </h4>
										<p style="text-align: justify;">
											El Prana es un material sintético para muebles, es de alta durabilidad, con
											características especiales que lo diferencian de otros, tales como su
											impermeabilidad, es antibacterial, resistente al desgaste y a la luz, fácil
											de
											limpiar y cuenta con una amplia gama de colores.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'prana' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'cuerotext' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/cuerotext/pranna.jpg' %}" alt="">
											</div>
											<h4>Cuerotex</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Cuerotex</b> </h4>
										<p style="text-align: justify;">
											El cuerotex es un material tipo cuero sintético, es muy semejante al cuero
											natural. Es utilizada para tapizar muebles de sala, comedor, cojines, puffs
											y tapicería en general. Posee una capa de PVC que lo hace resistente a la
											fricción.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'cuerotext' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'bisont' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/bisont/6.jpg' %}" alt="">
											</div>
											<h4>Bisont</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Bisont</b> </h4>
										<p style="text-align: justify;">
											Amigable con las mascotas, con tecnologia water proof que permite que la
											tela tenga resistencia a los liquidos y no los absorba de manera inmediata.
											Recubrimiento que otorga un mantenimiento y limpieza facil al textil.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'bisont' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'capadocia' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/capadocia/9.jpg' %}" alt="">
											</div>
											<h4>Capadocia</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Capadocia</b> </h4>
										<p style="text-align: justify;">
											Manchas como tinta, cafe, barro, chocolate, vino, entre otros, se eliminan
											facilmente de tu tela capadocia con un poco de agua, un paño blanco y
											limpio.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'capadocia' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'acqua' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/acqua/2.jpg' %}" alt="">
											</div>
											<h4>Exteriores</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Exteriores</b> </h4>
										<p style="text-align: justify;">
											La colección fue desarrollada especialmente para usar en muebles semi
											exteriores en espacios como terrazas. Esta colección tambien es perfecta
											para muebles interiores y decoracion hogar en general. Tiene una alta
											repelencia a liquidos, evita arrugas, alta resistencia a las luz solar.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'acqua' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'betel' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/betel/1.jpg' %}" alt="">
											</div>
											<h4>Betel</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Betel</b> </h4>
										<p style="text-align: justify;">
											Nuestra colección Betel nace de la inspiración al ver en cada elemento de la
											naturaleza una representación artística. Es ver lo natural y conectarse con
											su belleza. Es traer arte a nuestro hogar mediante brillos, colores y
											contrastes dorados y plateados que conectan con lo profundo de nuestro ser.
											Composicion 100% poliester , tejido jacquard, hilos preteñidos.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'betel' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'dominio' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/dominio/2.jpg' %}" alt="">
											</div>
											<h4>Dominio</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Dominio</b> </h4>
										<p style="text-align: justify;">
											Amigable con las mascotas, con tecnologia water proof que permite que la
											tela tenga resistencia a los liquidos y no los absorba de manera inmediata.
											Recubrimiento que otorga un mantenimiento y limpieza facil al textil.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'dominio' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'bizantino' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/bizantino/2.jpg' %}" alt="">
											</div>
											<h4>Bizantino</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Bizantino</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología OneGrad, la cual actúa como un escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitando su
											limpieza y prolongando su
											vida útil.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'bizantino' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'berbera' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/berbera/6.jpg' %}" alt="">
											</div>
											<h4>Berbera</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Berbera</b> </h4>
										<p style="text-align: justify;">
											Amigable con los animales ya que a los gatos no les gusta su textura y se
											les lisan las uñas, y por
											ser un tejido plano, las uñas de las mascotas no la deshilan. El material es
											resistente pero no
											indestructible.
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'berbera' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row mt-5">
								<div class="col-lg-6">
									<a href="{% url 'agata' %}">
										<div class="furniture_item">
											<div class="contenedor">
												<img class="img-fluid imagen-telas"
													src="{% static 'core/img/telas/agata/6.jpg' %}" alt="">
											</div>
											<h4>Agata</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-6">
									<div class="portfolio_right_text">
										<h4><b>Agata</b> </h4>
										<p style="text-align: justify;">
											Este tejido cuenta con la tecnología onegard; la cual actúa como escudo
											protector para la tela,
											haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su
											limpieza y prolonga su vida
											útil..
										</p>
										<ul class="list">
											<li><span>Calidad</span>:
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
												<i class="fa fa-star" style="color : #facb48;"></i>
											</li>
										</ul>
										<a class="banner_btn mt-3" href="{% url 'agata' %}">VER CATALOGO</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</section>

<section class="pinturas_area p_40" id="pinturas">
	<div class="container">
		<div class="impress_inner text-center">
			<h2 style="font-size: 50px;">Pinturas</h2>
		</div>
	</div>
</section>


<section class=" furniture_area p_120">
	<div class="container">
		<div class="furniture_inner row">
			{% for material in pinturas %}
			<div class="col-lg-6">
				<div class="row mt-5">
					<div class="col-lg-6">
						<a href="{% url 'detallematerial' material.slug  %}">
							<div class="furniture_item">
								<div class="contenedor">
									<img class="img-fluid imagen-telas" src="{{ material.imagen1.url }}" alt="">
								</div>
								<h4>{{ material.titulo }}</h4>
							</div>
						</a>
					</div>
					<div class="col-lg-6">
						<div class="portfolio_right_text">
							<h4><b>{{material.titulo}}</b> </h4>
							<p style="text-align: justify;">{{material.descripcion}}.</p>
							<ul class="list">
								<li><span>Calidad</span>:
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
								</li>
								<li><span>Fecha</span>: {{material.creacion}}</li>
							</ul>
							<a class="banner_btn mt-3" href="{% url 'detallematerial' material.slug  %}">SABER MAS</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


<section class="maderas_area p_40" id="maderas">
	<div class="container">
		<div class="impress_inner text-center">
			<h2 style="font-size: 50px;">Maderas</h2>
		</div>
	</div>
</section>


<section class=" furniture_area p_120">
	<div class="container">
		<div class="furniture_inner row">
			{% for material in maderas %}
			<div class="col-lg-6">
				<div class="row mt-5">
					<div class="col-lg-6">
						<a href="{% url 'detallematerial' material.slug  %}">
							<div class="furniture_item">
								<div class="contenedor">
									<img class="img-fluid imagen-telas" src="{{ material.imagen1.url }}" alt="">
								</div>
								<h4>{{ material.titulo }}</h4>
							</div>
						</a>
					</div>
					<div class="col-lg-6">
						<div class="portfolio_right_text">
							<h4><b>{{material.titulo}}</b> </h4>
							<p style="text-align: justify;">{{material.descripcion}}.</p>
							<ul class="list">
								<li><span>Calidad</span>:
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
									<i class="fa fa-star" style="color : #facb48;"></i>
								</li>
								<li><span>Fecha</span>: {{material.creacion}}</li>
							</ul>
							<a class="banner_btn mt-3" href="{% url 'detallematerial' material.slug  %}">SABER MAS</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock content %}
<!--================End Clients Logo Area =================-->