{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Natura
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Natura</h2>
            <p>¡Tus mascotas pueden vivir en armonía con tu hogar! Hemos seleccionado las telas más aptas, duraderas,
                fáciles de limpiar, resistentes y con estilo para el contacto con tu mascota.

                Ahora podrás mantener tus muebles en buen estado y brindar comodidad a toda tu familia.

                Este tejido cuenta con la tecnología onegard; la cual actúa como escudo protector para la tela,
                haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su limpieza y prolonga su vida
                útil..
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Beige.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Beige.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Beige</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Camel.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Camel.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Camel</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/chocolate.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/chocolate.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Chocolate</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Gris.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Gris.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Gris</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Indigo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Indigo.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Indigo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Mostaza.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Mostaza.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Mostaza</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Navy.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Navy.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Navy</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Petroleo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Petroleo.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Petroleo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Plata.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Plata.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Plata</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Plomo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Plomo.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Plomo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Rojo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Rojo.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Rojo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Rosa.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Rosa.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Rosa</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Sand.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Sand.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Sand</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Natura/Taupe.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Natura/Taupe.jpg' %}" alt="tela Natura" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Natura - Taupe</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}