{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
Palermo
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Palermo</h2>
            <p>¡Tus mascotas pueden vivir en armonía con tu hogar! Hemos seleccionado las telas más aptas, duraderas,
                fáciles de limpiar, resistentes y con estilo para el contacto con tu mascota.

                Ahora podrás mantener tus muebles en buen estado y brindar comodidad a toda tu familia.

                Este tejido cuenta con la tecnología onegard; la cual actúa como escudo protector para la tela,
                haciéndola resistente al paso de líquidos, polvo y suciedad, facilitar su limpieza y prolonga su vida
                útil..
            </p>

            <div class="furniture_inner row mt-3">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Acero.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Acero.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Acero</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Aqua.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Aqua.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Aqua</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Arena.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Arena.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Arena</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Azul.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Azul.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Azul</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Beige.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Beige.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Beige</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Camel.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Camel.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Camel</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Gris.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Gris.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Gris</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Marfil.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Marfil.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Marfil</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Taupe.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Taupe.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Taupe</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Petroleo.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Petroleo.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Petroleo</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/Palermo/Rosa.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/Palermo/Rosa.jpg' %}" alt="tela Palermo" />
                                    </a>
                                </div>
                                <p style="font-size: 15px;">Palermo - Rosa</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}