{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | Restauramos Hogares | Materiales 🥇⭐{% endblock title %}

{% block title_banner %}
prana
{% endblock title_banner %}


{% block content %}
<section class="about_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Prana Sintético</h2>
            <p>El Prana es un material sintético para muebles, es de alta durabilidad, con
                características especiales que lo diferencian de otros, tales como su
                impermeabilidad ,es antibacterial ,resistencia al desgaste y a la luz,fácil de
                limpiar y cuenta con una amplia gama de colores.
            </p>

            <div class="furniture_inner row mt-3">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/1 (2).jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/1 (2).jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/1.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/1.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/2.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/2.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/3.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/3.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/4.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/4.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/5.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/5.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/6.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/6.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/7.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/7.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/8.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/8.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/9.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/9.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/10.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/10.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/11.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/11.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/12.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/12.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/13.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/13.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/14.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/14.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/15.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/15.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/16.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/16.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/17.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/17.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/18.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/18.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/19.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/19.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/20.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/20.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/21.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/21.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/22.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/22.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/23.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/23.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/24.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/24.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/25.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/25.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/26.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/26.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/27.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/27.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/28.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/28.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/29.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/29.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/30.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/30.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/31.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/31.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/32.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/32.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/33.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/33.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/34.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/34.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/35.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/35.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/36.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/36.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/37.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/37.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/38.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/38.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/39.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/39.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/40.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/40.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/41.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/41.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/42.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/42.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/43.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/43.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/44.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/44.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/45.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/45.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/46.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/46.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/47.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/47.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/48.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/48.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/49.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/49.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/50.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/50.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/51.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/51.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/52.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/52.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/53.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/53.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/54.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/54.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/55.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/55.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/56.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/56.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/57.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/57.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/58.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/58.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/59.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/59.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row mt-1">
                        <a href="">
                            <div class="furniture_item">
                                <div class="contenedor">
                                    <a class="venobox" href="{% static 'core/img/telas/prannas/60.jpg' %}">
                                        <img class="img-fluid imagen-telas"
                                            src="{% static 'core/img/telas/prannas/60.jpg' %}" alt="tela prana" />
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}