{% extends 'dash/base.html' %}
{% load static %}
{% block titulo %} Restauramos Hogares | Redes {% endblock titulo %}
{% block contenido %}
<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Redes Sociales</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if not link_list %}
                <div class="alert alert-info" role="alert">
                    No hay redes sociales para mostrar
                </div>
                {% else %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Enlace</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Edicion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in link_list %}
                        <tr>
                            <td>{{link.nombre}}</td>
                            <td><a href="{{link.url}}">{{link.url}}</a></td>
                            <td>{{link.estado|yesno:"Activo,Inactivo"}}</td>
                            <td>{{link.edicion|date:"d/m/y"}}</td>
                            <td><a href="#" onclick="return abrir_modal('{% url 'link_urldash:update' link.id %}')"
                                    class="btn btn-warning btn-circle">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

</div>

<!-- /.container-fluid -->
{% endblock contenido %}

{% block jscript %}
<!-- Page level plugins -->
<script src="{% static 'dash/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dash/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dash/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dash/js/demo/datatables-demo.js' %}"></script>

{% endblock jscript %}