<div class="modal-dialog">
    <div class="modal-content">

        <form id="formulario" action="{% url 'link_urldash:update' link.id %}" role="form" method="POST">
            {% csrf_token %}
            <div class="modal-header border-bottom-warning">
                <h5 class="modal-title" id="exampleModalLabel">{{link.nombre}}</h5>
                <i class="far fa-thumbs-up fa-2x text-gray-300"></i>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-md-9 col-9">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" required name="url"
                                    id="id_url" placeholder="Enlace"
                                    value="{% if form.url.value %}{{form.url.value}}{%endif%}">
                                <small class="text-danger"> {{ form.url.errors }}</small>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-3">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" name="estado" id="id_estado"
                                    {% if link.estado %} checked {% endif %}>
                                <label class="custom-control-label" for="id_estado">Activo/Inactivo:</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-bottom-warning">
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <a href="#" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {

        var url = $('#formulario').attr("action");
        var token = jQuery("[name=csrfmiddlewaretoken]").val();

        $("form").submit(function (e) {
            e.preventDefault();
            //alert(token);
            var formData = $("form").serializeArray();
            //console.log(formData);
            $.ajax({
                url: url,
                method: "POST",
                headers: { 'X-CSRFToken': token },
                data: formData,
            })
                .done(function (r, textStatus, xhr) {
                    if (xhr.status = 200) {
                        cerrar_modal()
                        setTimeout('document.location.reload()', 1000);
                        mensaje('Url actualizada satisfactoriamente', 'success');
                    }
                    else {
                        mensaje(textStatus, 'error');
                    }
                }).fail(function (error) {
                    var r = error.responseJSON
                    for (var clave in r) {
                        // Controlando que json realmente tenga esa propiedad
                        if (r.hasOwnProperty(clave)) {
                            // Mostrando en pantalla la clave junto a su valor
                            var input = 'id_' + String(clave);
                            document.getElementById(input).style.borderColor = "red";
                            mensaje(String(r[clave]), 'error')
                        }
                    }
                })
        })
    });
</script>