{% extends 'core/about.html' %}
{% load static %}

{% block title %}Tapicería y Restauración de Muebles | REHO{% endblock title %}
{% block title_banner %}Nuestros Servicios{% endblock title_banner %}

<!--================About Area =================-->
{% block content %}
<div class="container mt-5">
    <div class="main_title">
        <h2>Sus Muebles En La Mejores Manos</h2>
        <p>En Restauramos Hogares te ofrecemos una gran variedad de servicios por separado, por si tu necesidad es una en específico</p>
    </div>
</div>

{% for service in lista_servicios %}
<section class="portfolio_details_area p_40">
    <div class="container">
        <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="height: 400px;">
                            {% if service.imagen1 %}
                            <div class="carousel-item active ">
                                <img src="{{service.imagen1.url}}" class="d-block w-100 imagen-carrusel" alt="...">
                            </div>
                            {% endif %}
                            {% if service.imagen2 %}
                            <div class="carousel-item ">
                                <img src="{{service.imagen2.url}}" class="d-block w-100 imagen-carrusel" alt="...">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio_right_text">
                        <h4 style="font-size: 50px;"><b>{{service.titulo}}</b> </h4>
                        <p>{{service.descripcion}}.</p>
                        <ul class="list">
                            <li><span>Calidad</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                            </li>
                            <li><span>Fecha</span>: {{service.creacion}}</li>
                        </ul>
                        <a class="banner_btn mt-3" href="{% url 'detalleservicio' service.slug  %}">SABER MAS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}
<!--================End Clients Logo Area =================-->