{% extends 'dash/base.html'%}
{% load static %}
{% block titulo %} Restauramos Hogares | Perfil {% endblock titulo %}
{% block contenido %}
<div class="container">
    <div class="no-gutters align-items-center">
        <div class="col mr-2">
            <h2>Cambio de contraseña</h2>
            <div class="dropdown-divider"></div>
            <form method="POST" class="user" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="mb-4">
                        <p>Por favor, ingrese su contraseña antigua, por seguridad, y después introduzca la nueva
                            contraseña
                            dos veces para verificar que la ha escrito correctamente.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input type="password" class="form-control form-control-user" required name="old_password"
                                id="id_old_password" placeholder="Contraseña antigua">
                            <small class="text-danger"> {{ form.old_password.errors }}</small>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3 mb-sm-0">
                            <input type="password" class="form-control form-control-user mt-2 mb-2" name="new_password1"
                                id="id_new_password1" placeholder="Contraseña nueva">
                            <small class="text-danger"> {{ form.new_password1.errors }}</small>

                            <input type="password" class="form-control form-control-user mb-2" name="new_password2"
                                id="id_new_password2" placeholder="Confirme la nueva contraseña">
                            <small class="text-danger"> {{ form.new_password2.errors }}</small>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                            </ul>
                            <ul>
                                <li> Su contraseña debe contener por lo menos 8 caracteres.</li>
                            </ul>
                            <ul>
                                <li>La contraseña no puede ser una contraseña de uso común.</li>
                            </ul>
                            <ul>
                                <li>Su contraseña no puede ser completamente numérica.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success btn-block">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}
{% block footer %}{% endblock footer %}