{% extends 'dash/base.html' %}
{% block titulo %} Restauramos Hogares | Login {% endblock titulo %}
{% block sidebar %}{% endblock sidebar %}
{% block top_bar %}{% endblock top_bar %}
{% block contenido %}{% endblock contenido %}
{% block login %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-12 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">¿Olvidaste Tu Contraseña?</h1>
                  <p class="mb-4">Lo entendemos, estas cosas pasan.<br>Simplemente ingrese su dirección de correo
                    electrónico a continuación y le enviaremos un
                    enlace para restablecer su contraseña!</p>
                </div>
                <form method="POST" class="user">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="id_email" name="email"
                      aria-describedby="emailHelp" placeholder="Ingrese su dirección de correo">
                    <small class="text-danger"> {{ form.email.errors }}</small>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Restablecer Contraseña
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="{% url 'login' %}">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock login %}
{% block footer %}{% endblock footer %}
{% block js %}
<script>
  {% if form.errors %}

  {% for field in form %}
  {% if field.errors %}
  {% for error in field.errors %}
  mensaje('{{ error|escape }}', 'error');
  {% endfor %}
  {% endif %}
  {% endfor %}

  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  mensaje('{{ error|escape }}', 'error');
  {% endfor %}
  {% endif %}
  {% endif %}
</script>

{% endblock js %}