<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form id="formulario" action="{% url 'user_urldash:update' %}" role="form" class="user" method="POST">
            {% csrf_token %}
            <div class="modal-header border-bottom-warning">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Datos</h5>
                <i class="fas fa-user-edit fa-2x text-gray-300"></i>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control form-control-user" name="username" maxlength="15" minlength="5" autofocus
                        required id="id_username" placeholder="Nombre de Usuario"
                        value="{% if form.username.value %}{{form.username.value}}{%endif%}">
                    <small class="text-danger"> {{ form.username.errors }}</small>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="first_name">Nombres:</label>
                        <input type="text" class="form-control form-control-user" required name="first_name"
                            id="id_first_name" placeholder="Nombres" maxlength="20" minlength="2"
                            value="{% if form.first_name.value %}{{form.first_name.value}}{%endif%}">
                        <small class="text-danger"> {{ form.first_name.errors }}</small>
                    </div>
                    <div class="col-sm-6">
                        <label for="last_name">Apellidos:</label>
                        <input type="text" class="form-control form-control-user" name="last_name" id="id_last_name"
                            placeholder="Apellidos" maxlength="20" minlength="2"
                            value="{% if form.last_name.value %}{{form.last_name.value}}{%endif%}">
                    </div>
                    <small class="text-danger"> {{ form.last_name.errors }}</small>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control form-control-user" required name="email" maxlength="254"
                        id="id_email" placeholder="Email"
                        value="{% if form.email.value %}{{form.email.value}}{%endif%}">
                    <small class="text-danger"> {{ form.email.errors }}</small>
                </div>
            </div>
            <div class="modal-footer border-bottom-warning">
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <a href="#" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $(function () {

        var url = $('#formulario').attr("action");
        var token = jQuery("[name=csrfmiddlewaretoken]").val();

        $("form").submit(function (e) {
            e.preventDefault();
            //alert(token);
            var formData = $("form").serializeArray();
            //console.log(formData);
            $.ajax({
                url: url,
                method: "POST",
                headers: { 'X-CSRFToken': token },
                data: formData,
            })
                .done(function (r, textStatus, xhr) {
                    if (xhr.status = 200) {
                        cerrar_modal()
                        setTimeout('document.location.reload()', 1000);
                        mensaje('Datos actualizados satisfactoriamente', 'success');
                    }
                    else {
                        mensaje(textStatus, 'error');
                    }
                }).fail(function (error) {
                    var r = error.responseJSON
                    console.log(r)
                    for (var clave in r) {
                        // Controlando que json realmente tenga esa propiedad
                        if (r.hasOwnProperty(clave)) {
                            // Mostrando en pantalla la clave junto a su valor
                            var input = 'id_' + String(clave);
                            document.getElementById(input).style.borderColor = "red";
                            mensaje(String(r[clave]), 'error')
                        }
                    }
                })
        })
    });
</script>